 <!-- Sidebar -->

<ul class="sidebar navbar-nav ">
    <li class="nav-item active">
        <a class="nav-link" href="~/Admin/Home/Index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Home</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Admin/About/Index">
            <i class="fas fa-info-circle"></i>
            <span>About</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Admin/Blogs/Index">
            <i class="fas fa-blog"></i>
            <span>Blogs</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Admin/Contact/Index">
            <i class="fas fa-file-contract"></i>
            <span>Contact</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Admin/Hotels/Index">
            <i class="fas fa-home"></i>
            <span>Hotels</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Admin/Tours/Index">
            <i class="fab fa-cc-discover"></i>
            <span>Tours</span>
        </a>
    </li>
</ul>
