
@{
    ViewBag.Title = "MainEdit";
}

<div id="wrapper">
    @Html.Partial("SideBarPartial")
    <div id="content-wrapper">
        <table " id="dataTable"></table>
        <div class="container-fluid">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    <strong> Blog page main part</strong>
                </div>
                <div class="card-body">
                    <div class="table-responsive ">
                        <table class="table table-striped  " id="dataTable" width="100%" cellspacing="0">
                            @using (Html.BeginForm("MainEdit","Blogs", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div class="form-group ">
                                    <label for="BlogtBackPic">Background photo</label>
                                    <input type="file" class="form-control" name="BlogtBackPic">
                                </div>
                                <div class="form-group">
                                    <label for="BlogBackPicText">Text for the background photo</label>
                                    <textarea type="textarea" class="form-control" name="BlogBackPicText">@ViewData["BlogPageBackPicText"]</textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


